.Card {
    transition: all 0.7s, z-index 0s;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}


.textBlur {
    color: red;
    filter: blur(3px)
}

.textClear {
    color: white;
    filter: blur(0px)
}

.cardText, .cardTitle {
    position: absolute;
}

.cardTitle {
    top: 20%;
    text-align: center;
    font-family: 'ribeye', 'chelsea market';
    color: rgb(255, 235, 209);
    text-shadow: 5px 5px 8px black, -5px -5px 8px black;

}
.cardText {
    top: 40%;
    text-align: center;
    width: 80%;
    height: 24%;
    font-family: 'ribeye', 'ranchers', 'sans-serif';
    font-weight: bolder;
    color: black;
    /* transition: font-size 10s; */
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.backgroundDiv {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.backgroundDiv, .cardText, .cardTitle {
    transition: all 0.7s;
}

#card02 .backgroundDiv{
    background-position: 25% center;
}